[project]
	description = C++ Windows/Linux/MacOS X port of Russell Nelson's Freemacs.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Martin Sandiford (msandiford)
[access "refs/for/refs/*"]
	read = group user/Martin Sandiford (msandiford)
	push = group user/Martin Sandiford (msandiford)
	label-Code-Review = -2..+2 group user/Martin Sandiford (msandiford)
	label-Verified = -1..+1 group user/Martin Sandiford (msandiford)
	rebase = group user/Martin Sandiford (msandiford)
	removeReviewer = group user/Martin Sandiford (msandiford)
	submit = group user/Martin Sandiford (msandiford)
[access "refs/heads/*"]
	read = group user/Martin Sandiford (msandiford)
	create = group user/Martin Sandiford (msandiford)
	push = +force group user/Martin Sandiford (msandiford)
	pushMerge = group user/Martin Sandiford (msandiford)
[access "refs/tags/*"]
	push = group user/Martin Sandiford (msandiford)
	push = +force group user/Martin Sandiford (msandiford)
